In [6]:
import re
import urllib.request
import json
import ast
import pandas as pd
import numpy as np

In [7]:
URL = "https://covid19.saglik.gov.tr/"

contents = urllib.request.urlopen(URL).read().decode('utf-8')
x = re.search("var sondurumjson = \[(.*?)];//", contents).group(1)
# parse x:
response = json.loads(x)

In [8]:
def change_date(date):
    d = date.split('.')
    return d[2] + "-" + d[1] + "-" + d[0]

def change_num(data):
    data = data.replace('.', '')
    return int(data)

In [9]:
daily_confirmed = change_num(response['gunluk_vaka'])
daily_recovered = change_num(response['gunluk_iyilesen'])
daily_death = change_num(response['gunluk_vefat'])
confirmed = change_num(response['toplam_hasta'])
recovered = change_num(response['toplam_iyilesen'])
death = change_num(response['toplam_vefat'])
date = change_date(response['tarih'])
test = change_num(response['gunluk_test'])

to_add = [date, confirmed, recovered, death, test, daily_confirmed, daily_death, daily_recovered]
to_add

['2021-03-26', 3149094, 2921037, 30772, 220985, 29081, 153, 20208]

In [12]:
df = pd.read_csv("turkey_covid.csv")
df.loc[df.shape[0]] = to_add
df.to_csv("turkey_covid.csv", index=False)

,Date,Confirmed,Recovered,Death,Test,Daily_Confirmed,Daily_Death,Daily_Recovered
0,2020-11-03,1,0,0,0,1.0,0.0,0.0
1,2020-12-03,1,0,0,0,0.0,0.0,0.0
2,2020-03-13,5,0,0,0,4.0,0.0,0.0
3,2020-03-14,6,0,0,0,1.0,0.0,0.0
4,2020-03-15,18,0,0,0,12.0,0.0,0.0
...,...,...,...,...,...,...,...,...
376,2021-03-22,3035338,2844681,30178,201215,22216.0,117.0,19494.0
377,2021-03-23,3061520,2863882,30316,211848,26182.0,138.0,19201.0
378,2021-03-24,3091282,2881643,30462,221738,29762.0,146.0,17761.0
379,2021-03-25,3120013,2900829,30619,222753,28731.0,157.0,19186.0
380,2021-03-26,3149094,2921037,30772,220985,29081.0,153.0,20208.0